@import "../../../assets/styles/__settings.scss";

.navbar-wrapper {
    // background-color: $dark;
    // color: $light;

    background-color: $light;
    color: $dark;



    @include flex();
    justify-content: space-between;
    padding: 10px 40px;

    a {
        margin: 0px 10px;
        padding: 10px 20px;
        color: $dark;
        text-decoration: none;
    }

    .auth-section {
        @include flex();
    }
}